@tailwind utilities;

/*
write below line in your editor setting.json, if unknown error exist for @tailwind and @apply
    "css.validate": false,
    "scss.validate": false,
    "less.validate": false
*/
:root {
  /*Shades of Green*/
  --colorGreen1: #D2E8E3;
  --colorGreen2: #0F6466;
  --colorGreen3: #E8F3F0;

  /*Shades of Black*/
  --colorBlack1: black;
  --colorBlack2: #2C3532;

  /*Shades of Blue*/
  --colorBlue1: #C0D6E8;
  --colorBlue2: #224A69;
  --colorBlue3: #D3E2EF;

  /* ────────────────────────────────────────────── */
  /* Theme 1 → User1 (Blue Scheme)                 */
  /* ────────────────────────────────────────────── */
  /*
  body background
  button text
  */
  --color4: var(--colorBlue1);

  /*
  button background
  Spinner Boder color
  footer text color
  */
  --color5: var(--colorBlue2);
  
  /*
  button hover
  */
  --color7: var(--colorBlack2);

  /*
  form background
  card background
  */
  --color6: var(--colorBlue3);


  /* ────────────────────────────────────────────── */
  /* Theme 1 → User2 (Green Scheme)                 */
  /* ────────────────────────────────────────────── */
  /*
  body background
  button text
  */
  --color1: var(--colorGreen1);

  /*
  button background
  Spinner Boder color
  footer text color
  */
  --color2: var(--colorGreen2);


  /*
  button hover
  */
  --color8: var(--colorBlack2);


  /*
  form background
  card background
  */
  --color3: var(--colorGreen3);





  --bgGreen1: #D2E8E3;
  /*body-background, also-> navbar-link-color, button-text*/

  --bgBlue1: #C0D6E8;

  --foregroundDark: black;
  /*text over website*/


  --button-color-Green1: #0F6466;
  /*also-> navbar-link-hover, form-input-focus, buttonTiny-hover*/
  --button-color-Blue1: #224A69;


  --form-color: #ECFBF4;
  --form-user-color: #D3E2EF;
  /*form-background*/
  --navbar-color: #2C3532;
  /*navbar-background, also-> button-hover, buttonTiny*/
}

@media (prefers-color-scheme: dark) {

  /*Not properly check*/
  :root {
    --background: #2C3532;
    /*set according to color-scheme*/
    --foreground: #D2E8E3;
    /*set according to color-scheme*/
  }
}

body {
  color: var(--foregroundDark);
  /*text color*/

  background: var(--bgGreen1);
  font-family: Verdana, sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.5;
}

nav {
  background-color: var(--navbar-color);
  /*set according to color-scheme*/
  padding: 0px;
}

nav a {
  color: var(--bgGreen1);
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: var(--button-color);
  /*set according to color-scheme*/
}

button {
  @apply rounded-lg transition-colors;
  background-color: var(--button-color);
  color: var(--bgGreen1);
}

button:hover {
  background-color: var(--navbar-color);
}


@layer utilities {

  /* ────────────────────────────────────
  /* General Settings for all Themes */
  /* ────────────────────────────────────*/
  .screenMiddleDivHorizontal {
    @apply flex items-center justify-center py-8 w-full
  }

  .formDiv {
    @apply w-full max-w-md p-6 shadow-2xl rounded-lg;
  }

  .formLabel {
    @apply block text-sm font-medium text-gray-700
  }

  .formButton {
    @apply w-full py-2 px-4
  }

  /* ────────────────────────────────────────────── */
  /* Theme 1 → User1 (Blue Scheme)                 */
  /* ────────────────────────────────────────────── */
  .containerUser1 {
    background-color: var(--color4);
  }

  .containerUser1 form,
  .containerUser1 .formDiv {
    background-color: var(--color6);
  }

  .containerUser1 button {
    background-color: var(--color5);
    color: var(--color4);
  }

  .containerUser1 button:hover {
    background-color: var(--color7);
    color: var(--color4);
  }

  .containerUser1 .spinColor {
    border-color: var(--color5);
    border-top-color: transparent !important;
  }

  .containerUser1 .buttonCard {
    background-color: var(--color6);
  }

  .containerUser1 footer {
    color: var(--color5)
  }

  .containerUser1 .formBG {
    background-color: var(--color6);
  }


  /* ────────────────────────────────────────────── */
  /* Theme 2 → User2 (Green Scheme)                 */
  /* ────────────────────────────────────────────── */
  .containerUser2 {
    background-color: var(--color1);
  }

  .containerUser2 form,
  .containerUser2 .formDiv {
    background-color: var(--color3);
  }

  .containerUser2 button {
    background-color: var(--color2);
    color: var(--color1);
  }

  .containerUser2 button:hover {
    background-color: var(--color8);
    color: var(--colorBlue1);
  }

  .containerUser2 .spinColor {
    border-color: var(--color2);
    border-top-color: transparent !important;
  }

  .containerUser2 .buttonCard {
    background-color: var(--color3);
  }

  .containerUser2 .formBG {
    background-color: var(--color3);
  }

  .containerUser2 footer {
    color: var(--color2)
  }






  .page-title-center {
    @apply text-center tracking-wide;
  }







  .buttonTiny {
    @apply m-1 p-1 text-xs rounded-sm;
    background-color: var(--navbar-color);
  }

  .buttonTiny:hover {
    background-color: var(--button-color);
  }
}

@layer base {
  h1 {
    font-size: 36px;
    padding: 36px;
  }

  h2 {
    font-size: 30px;
    padding: 30px;
  }

  h3 {
    font-size: 24px;
    padding: 24px;
  }

  h4 {
    font-size: 20px;
    padding: 20px;
  }

  h5 {
    font-size: 18px;
    padding: 18px;
  }

  h6 {
    font-size: 16px;
    padding: 16px;
  }

  input {
    @apply text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-0
  }

  input:focus {
    border-color: var(--button-color);
  }
}